    .mytitle {
        color:#fff ; 
        /* text-align: center; */
        background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
        width : 300px;
        height: 200px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        
                            
    }
    /* 자식선택자: mytitle 바로 아래 있는 h1 태그,  위 오른쪽 아래 왼쪽 순서  */
    .mytitle > h1 {
            margin: 0 0 5px 0;
    }
        
    /* 자식선택자: mytitle 바로 아래 있는 h5 태그 */
    .mytitle > h5 {
            margin: 5px 0 0 0;
    }

    .wrap {
        width :300px;
        margin: 50px auto 0 auto ;
    }